


.fondo-claro {
    background-color: #f9f9f9;
  }
  
  .fondo-oscuro {
    background-color: #393939;
  }

  .fondo-verde {
    background-color: #0ACF83;
  }

#fotoprincipal {
    width: 600px;
    left: 600px;
    position: static;
  }

  #aphelandra2 {
    width: 400px;
    left: 400px;
    position: static;
  }

  #photus2 {
    width: 400px;
    left: 400px;
    position: static;
  }

  /* -------- ----SECTION HUERTA------ -----*/
.section-huerta{
  display: flex;
}

.caja1{
  background: #393939;
  height: 50vh;
  width: 50%;
  text-align: center;
}

.caja2 {
  background: url(images/huerta4.png);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 50vh;
}

.titulohuerta {
color: #fff;
font-size: 50px;
width: 70%;
margin: auto;
margin-bottom: 20px;
margin-top: 30px;
}

.textohuerta {
color: #fff;
width: 70%;
margin: auto;
}

.botonhuerta{
  border: 2px solid #fff;
  padding: 10px;
text-decoration: none;
color: #fff;
border-radius: 30px;
font-family: bold;
display: inline-block;
margin-top: 50px;
font-family: "Asul", serif;
        font-weight: 200;
        font-style: normal;
}

.boton {
  text-align: center;
  
}

.estilo {
        font-family: "Asul", serif;
        font-weight: 400;
        font-style: normal;
  }


p {
    font-family: "Asul", serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    font-family: "Asul", serif;
    font-weight: 400;
    font-style: normal;

}

h2 {
    font-family: "Asul", serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Asul", serif;
    font-weight: 400;
    font-style: normal;

}

#Logoplanverde {
  width: 100px;
  left: 100px;
  position: static;
}



  /* -------- ----CAROUSEL------ -----*/

  .carousel__contenedor{
      position: relative;

  }
  
  .carousel__anterior,
  .carousel__siguiente {
      position: absolute;
      display:block;
      width: 30px;
      height: 30px;
      border: none;
      top: calc(50% - 35px);
      cursor: pointer;
      line-height: 30px;
      text-align: center;
      background: none;
      color: #fff;
      opacity: 20%;

  }

  .carousel__anterior :hover
  .carousel__siguiente:hover {
    opacity: 100%;
  }
.carousel__anterior{
  left: -30px;
}

.carousel__siguiente{
  right: -30px;
}

.carousel__lista {
  overflow: hidden;
}

.carousel__elemento {
  text-align: center;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
  opacity: .2;
  border-radius: 0;
}

.carousel {
 background-color: #0ACF83;
}

/*---SECTION INICIO---*/

.contenido-principal {
  display: flex;
}

.caja-blanca {
  height: 800px;
  width: 800px;
  background: #FFFFFF;
  position: relative;
}

.caja-verde {
  height: 800px;
  width: 800px;
  background: #0ACF83;
}

.foto-principal {
  height: 600px;
  width: 600px;
  position: absolute;
  right: 200px;
  top: 250px;
}

.titulo-principal {
  text-align: center;
  position: absolute;
}

.parrafo.principal {
  text-align: center;
  position: absolute;
}

/* -------- ----CAROUSEL servicios------ -----*/

#carrusel-de-servicios{
  display: flex;
}

.parteizquierda{
  background: #0ACF83;
  height: 70vh;
  width: 50%;
  text-align: center;
}



.carrusel-servicios{
  background: #0ACF83;
  height: 70vh;
  width: 50%;
  position: relative;
}


.carousel-inner{
  height: 350px;
  width: 350px;
position: relative;
top: 20px;
left: 130px;
border-radius: 30px;
}

.carousel-control-prev{
  position: absolute; 
}

.carousel-control-next{
  position: absolute; 
}

.textofoto{
  text-align: center;
  color: #fff;
}
